body {
    background-color: dimgrey;
}

header h1 {
    text-align: center;
    color: white; 
    font-family: 'Exo', sans-serif; 
}

.outer {
    text-align: center;
}

.container img {
    padding: 10px;
    width: 280px;
    height: 250px;
    border-radius: 120px;
}

.container li {
    display: inline-block;
    list-style: none;
}